/vendor/
/ofw/
/composer.lock
/public/.php-ini
/public/.php-version
/public/hooks/ofw-release.php
/public/sitemap.xml
/public/sitemap-en.xml
/public/sitemap-es.xml
/public/sitemap-eu.xml
/public/search-index.json
public/BingSiteAuth.xml
