:root {
    --bg-color: #121212;
    --text-color: #e1e1e1;
    --text-color-hover: #fff;
    --card-bg-color: #1e1e1e;
}

html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
	margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  background-color: var(--card-bg-color);
  padding: 16px;
  margin: 0 16px 16px 16px;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: var(--text-color-hover);
  }
}
