:root {
	--body-bg-color: #fff;
	--body-text-color: #000;
	--a-text-color: rgba(0, 0, 0, 0.6);
	--a-active-text-color: #000;
	--a-hover-text-color: #000;
	--menu-active-bg-color: #ccc;
	--menu-active-text-color: #000;
	--button-hover-text-color: #000;
	--button-hover-bg-color: #eee;
	--icon-color: #000;
	--pre-bg-color: #f6f8fa;
	--table-header-bg-color: #eee;
	--code-bg-color: rgba(27,31,35,.05);
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bg-color: #0d1117;
		--body-text-color: #fff;
		--a-text-color: #8b949e;
		--a-active-text-color: #c9d1d9;
		--a-hover-text-color: #fff;
		--menu-active-bg-color: #57a6ff;
		--menu-active-text-color: #0d1117;
		--button-hover-text-color: #6e7681;
		--button-hover-bg-color: #161b22;
		--icon-color: #8b949e;
		--pre-bg-color: #161b22;
		--table-header-bg-color: #161b22;
		--code-bg-color: #444;
	}
}

body, html {
	height: 100%;
	font-family: Helvetica Neue,sans-serif;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
}

html * {
	box-sizing: border-box;
}

a {
	color: var(--a-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--a-hover-text-color);
}

a.active {
	color: var(--a-active-text-color);
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 8px 16px;
	line-height: 1.5em;
}

ol {
	margin-top: 16px;
}

ol li {
	margin-bottom: 16px;
}

ul li {
	margin-bottom: 16px;
}

.container {
	width: 100%;
	height: 100%;
}

header {
	line-height: 50px;
	font-size: 22px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

header .title {
	color: var(--body-texxt-color);
}

header button {
	margin: 8px 0;
	outline: 0;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 0;
}

header button img {
	margin-top: 2px;
}

.button-left {
	float: left;
	margin-left: 16px;
}

.button-right {
	float: right;
	margin-right: 16px;
}

header button.pressed {
	background-color: #f5f5f5;
	box-shadow: inset 0 0 4px #000000;
}

.language-selector {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
	margin-right: 16px;
}

.language-selector li {
	display: inline-block;
	margin-left: 8px;
}

.language-selector li a {
	font-size: 16px;
}

.language-selector-sm {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 51px;
	border: 1px solid #ccc;
	border-top: 0;
	border-right: 0;
	z-index: 10;
	background-color: var(--body-bg-color);
}

.language-selector-sm.open {
	display: block;
}

.language-selector-sm li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}

.language-selector-sm li:last-child {
	border-bottom: 0;
}

.language-selector-sm li a {
	display: block;
	text-align: center;
	width: 150px;
	line-height: 40px;
}

.language-selector-sm li a.active {
	background-color: var(--menu-active-bg-color);
	color: var(--menu-active-text-color);
}

aside {
	border-right: 1px solid #ccc;
	display: none;
	height: calc(100% - 102px);
	width: 50%;
	background-color: var(--body-bg-color);
	overflow: auto;
}

aside.open {
	position: absolute;
	left: 0;
	top: 51px;
	z-index: 10;
	display: block;
}

aside a {
	display: block;
	padding-left: 8px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
}

aside a.active {
	background-color: var(--menu-active-bg-color);
	color: var(--menu-active-text-color);
}

#overlay {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5;
}

#overlay.open {
	display: block;
}

main {
	float: left;
	width: 100%;
	height: calc(100% - 82px);
	padding: 16px;
	overflow: auto;
}

main h1 {
	margin-top: 0;
	line-height: 40px;
}

.previous-next {
	margin-top: 16px;
	border-top: 1px solid #ccc;
	padding-top: 16px;
	overflow: hidden;
}

.previous-next a {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 16px;
	border-radius: 6px;
}

.previous-next a:hover {
	border: 1px solid var(--button-hover-text-color);
	background-color: var(--button-hover-bg-color);
}

.previous-next a.previous {
	float: left;
}

.previous-next a.next {
	float: right;
}

.previous-next a svg {
	vertical-align: middle;
	display: inline-block;
	fill: var(--icon-color);
}

.previous-next a.previous svg {
	margin-right: 16px;
}

.previous-next a.next svg {
	margin-left: 16px;
}

.previous-next a:hover svg {
	fill: var(--a-hover-text-color);
}

footer {
	clear: both;
	border-top: 1px solid #ccc;
	padding-left: 16px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer span {
	flex: 1;
}

footer a {
	float: right;
	margin-right: 16px;
	height: 100%;
	display: flex;
	align-items: center;
}

footer a.footer-version {
	float: left;
}

code {
	background-color: var(--code-bg-color);
	border-radius: 3px;
	margin: 0;
	padding: 4px 6px;
	display: inline-block;
	margin-bottom: 2px;
}

pre {
	background-color: var(--pre-bg-color);
	border-radius: 3px;
	line-height: 1.45;
	overflow-x: auto;
	width: 100%;
}

.data-table-container {
	width: 100%;
	overflow-x: auto;
}

.data-table-container table {
	margin: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: calc(100% - 32px);
	border-collapse: collapse;
}

.data-table-container table caption {
	background-color: var(--table-header-bg-color);
	padding: 16px;
	text-align: center;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.data-table-container table caption strong {
	display: inline-block;
	margin-right: 16px;
}

.data-table-container table thead {
	background-color: var(--table-header-bg-color);
	font-size: 1.2em;
}

.data-table-container td, th {
	padding: 16px;
	border: 1px solid #ccc;
	vertical-align: top;
}

.data-table-container th {
	border-bottom: 2px solid #ccc;
}

.data-table-container table tbody tr td:first-child {
	font-weight: bold;
}

.data-table-15 {
	width: 15%;
}

.data-table-70 {
	width: 70%;
}

.data-table-85 {
	width: 85%;
}

.image-gallery {
	margin: 24px;
}

.image-container {
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
}

.image-container:hover {
	border: 1px solid #000;
}

.image-item {
	max-width: 200px;
	cursor: pointer;
}

#photo-container {
	cursor: pointer;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.full-photo-show {
	display: block !important;
}

.full-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.full-image-container > img {
	height: auto;
	width: 80%;
}

.full-image-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 50px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

@media screen and (min-width: 66.25em) {
	header {
		text-align: left;
		padding-left: 16px;
	}

	header button {
		display: none;
	}

	.language-selector {
		display: block;
	}

	aside {
		float: left;
		display: block;
		width: 10%;
	}

	main {
		width: 90%;
		height: calc(100% - 134px);
	}

	footer {
		height: 50px;
	}
}
