body, html{
  height: 100%;
  font-family: Roboto,Helvetica Neue,sans-serif;
}
html *{
  box-sizing: border-box;
}
a{
  color: #888;
  text-decoration: none;
}
a:hover{
  color: #000;
}
a.active{
  color: #000;
}
body{
  margin: 0;
  padding: 0;
}
p{
  margin: 8px 16px;
}
ol li{
  margin-bottom: 16px;
}
ul li{
  margin-bottom: 16px;
}
.container{
  width: 100%;
  height: 100%;
}
header{
  line-height: 50px;
  font-size: 22px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
header button{
  margin: 8px 0;
  outline: 0;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 0;
}
header button img{
  margin-top: 2px;
}
.button-left{
  float: left;
  margin-left: 16px;
}
.button-right{
  float: right;
  margin-right: 16px;
}
header button.pressed{
  background-color: #f5f5f5;
  box-shadow: inset 0 0 4px #000000;
}
.language-selector{
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  margin-right: 16px;
}
.language-selector li{
  display: inline-block;
  margin-left: 8px;
}
.language-selector li a{
  font-size: 16px;
}
.language-selector-sm{
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 51px;
  border: 1px solid #ccc;
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 6px;
  z-index: 10;
  background-color: #fff;
}
.language-selector-sm.open{
  display: block;
}
.language-selector-sm li{
  border-bottom: 1px solid #ccc;
}
.language-selector-sm li:last-child{
  border-bottom: 0;
}
.language-selector-sm li a{
  display: block;
  padding: 16px;
  text-align: center;
  width: 150px;
}
aside{
  border-right: 1px solid #ccc;
  display: none;
  height: calc(100% - 102px);
  width: 50%;
  background-color: #fff;
}
aside.open{
  position: absolute;
  left: 0;
  top: 51px;
  z-index: 10;
  display: block;
}
aside a{
  display: block;
  padding-left: 8px;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
}
aside a.active{
  background-color: #eee;
}
main{
  float: left;
  width: 100%;
  height: calc(100% - 102px);
  padding: 16px;
  overflow: auto;
}
main h1{
  margin-top: 0;
  line-height: 40px;
}
.previous-next{
  margin-top: 16px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
  overflow: hidden;
}
.previous-next a{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 6px;
}
.previous-next a:hover{
  border: 1px solid #000;
}
.previous-next a.previous{
  float: left;
  padding-left: 40px;
  background: url(/img/previous.svg) no-repeat scroll 10% center transparent;
}
.previous-next a.next{
  float: right;
  padding-right: 40px;
  background: url(/img/next.svg) no-repeat scroll 90% center transparent;
}
footer{
  clear: both;
  line-height: 50px;
  border-top: 1px solid #ccc;
  padding-left: 16px;
}
footer a{
  float: right;
  margin-right: 16px;
}
footer a.footer-version{
  float: left;
}
code{
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
pre{
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}
.data-table{
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.data-header{
  background-color: #eee;
}
.data-row{
  display: flex;
}
.data-param{
  flex: 1;
  padding: 16px;
  font-weight: bold;
  border-right: 1px solid #ccc;
}
.data-default{
  flex: 1;
  padding: 16px;
  border-right: 1px solid #ccc;
}
.data-explanation{
  flex: 5;
  padding: 16px;
}
.data-long{
  flex: 6;
  padding: 16px;
}
.data-divider{
  height: 2px;
  background-color: #eee;
}
@media screen and (min-width: 66.25em) {
  header{
    text-align: left;
    padding-left: 16px;
  }
  header button{
    display: none;
  }
  .language-selector{
    display: block;
  }
  aside{
    float: left;
    display: block;
    width: 10%;
  }
  main{
    width: 90%;
  }
}
