<header class="header">
  <div class="header-left">
    <img src="/img/osumi.svg" class="logo" alt="Osumi Framework">
    <a href="/" class="project-name">Osumi Framework</a>
  </div>

  <div class="header-right">
    <a href="{{ es_link }}">es</a>
    <a href="{{ en_link }}">en</a>
    <a href="{{ eu_link }}">eu</a>
    <span class="version">v{{version}}</span>
    <a href="https://github.com/osumionline/framework" target="_blank" class="repo-link">GitHub</a>

    <!-- Mobile menu button -->
    <button id="menuToggle" class="menu-toggle">☰</button>
  </div>
</header>
