<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Description" content="Documentación de Osumi Framework">
		<meta property="og:title" content="Osumi Framework" />
		<meta property="og:description" content="Documentación de Osumi Framework" />
		<meta property="og:image" content="https://framework.osumi.dev/img/osumi.png" />
		<meta property="og:url" content="https://framework.osumi.dev" />
		<meta property="og:type" content="website" />
		<title>{{title}}</title>
		<link type="image/x-icon" href="/favicon.ico" rel="icon">
		<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
	</head>

	<body>
		{{body}}
	</body>
</html>
